<!DOCTYPE html>

<html>
	<head>
		<title>대학생이 뽑은 좋은 광고</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<style>
			.wrapper {
				width: 100%;
				height: auto;
			}

			.button {
				text-align: center;
			}
		</style>
	</head>

	<body style="background-color: #ffbf00;">
		<img class="wrapper" src='http://blogfiles.naver.net/MjAxNzA4MTBfODgg/MDAxNTAyMzUzMjU5MjA0.oqcmpAtGO8okVChe6N2DUTCA5wXvQA7zKvZFiq_URbQg.z6p5vOMrNZEJtVsoeVBzva_h-h7Wisz9LTvuoSvGHFEg.PNG.kijehyum/indexlogo.png'>

		<div style="background-color: #ffffff;">
			<h1>
				투표가 완료되었습니다.
			</h1>
		</div>
	</body>
</html>
